<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{#each breadcrumb}}
            {{#unless @last}}
                {{#unless @first}}
                    <li class="breadcrumb-item"><a href="{{this.url}}">{{this.label}}</a></li>
                {{/unless}}
            {{else}}
                <li class="breadcrumb-item active" aria-current="page">{{this.label}}</li>
            {{/unless}}
        {{/each}}
    </ol>
</nav>