{{#if errors.length}}
    <div class="alert alert-danger" role="alert">
        <ul class="text-danger text-start mb-0">
            {{#each errors}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}