<div class="row">
    <div class="col">
        <a class="btn btn-outline-dark" href="/user/google-login" role="button" style="text-transform:none">
        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        Logga in med Google
        </a>
    </div>
</div>