<div class="d-flex w-100 vh-100 justify-content-center align-items-center bg-danger">
    <div class="p-4 d-flex flex-column bg-white rounded-3">
        <h1 class="mb-4">500 Internt serverfel</h1>
        <a href="/" class="btn btn-primary">Till start</a>
    </div>
</div>