<form action="" method="POST">
{{> csrfToken}}
    <div class="form-group">
        <label for="exampleInputEmail1">Comment Description</label>
        <input type="text" class="form-control" name="text" aria-describedby="emailHelp" placeholder="Enter comment">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
