<form method="POST">
{{> csrfToken}}
    <div class="form-group mb-3">
        <label for="comment">Uppdatera kommentar</label>
        <input type="text" class="form-control" name="text" id="comment" placeholder="Ange kommentar..." value="{{comment.text}}">
    </div>
    <button type="submit" class="btn btn-primary">Uppdatera</button>
</form>
