{{> errors}}
<form action="" method="POST">
{{> csrfToken}}
    <div class="form-group">
        <label for="exampleInputEmail1">Project Name</label>
        <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="Enter project name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
