<div class="w-100 min-vh-100 d-flex justify-content-center align-items-center bg-light text-center flex-column">
    <h1>Frojects</h1>
    <a class="btn btn-primary mt-3" href="/user/login">Till inloggning ></a>
</div>