<h1>Skapa uppgift</h1>

<form action="" method="POST">
{{> csrfToken}}
    <div class="form-group">
        <label for="exampleInputEmail1">Titel</label>
        <input type="text" class="form-control" name="title" placeholder="Ange titel">
    </div>
    <div class="form-group mt-3">
        <label for="exampleInputEmail1">Beskrivning</label>
        <input type="text" class="form-control" name="description" placeholder="Ange beskrivning">
    </div>
    <div class="form-group mt-3">
        <label class="form-label" for="fromDate">Deadline</label>
        <input class="form-control ml-2" type="date" id="fromDate" name="date">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Spara</button>
</form>
