/* CSS for SPA */

.page{
    display: none;
}

.page.current-page{
    display: block;
}

:root{
    --sidebar-width: 0px;
    --navbar-height: 57px;
}

#sidebar{
    visibility: hidden;
    height: 100vh;
    overflow: hidden;
    transition:margin-left 0.4s ease-in-out;
    z-index: 2;
    width: 70%;
}

#loading-indicator{
    z-index:2; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
}

#name-badge-container:hover{
    cursor: pointer;
}

#sidebar .nav-link:hover{
    background-color: var(--bs-gray-800);
}

.errors{
    text-align: left;
    color: red;
}

.hidden{
    display: none;
}

main{
    min-height: calc(100vh - var(--navbar-height));
    padding-top: 5rem;
}

/* CSS for large screens / Desktops */
@media screen and (min-width: 992px){
    :root {
        --sidebar-width: 280px
    }
    #sidebar{
        margin-left: 0px;
        width: var(--sidebar-width)
    }
    .desktop-hide{
        display: none;
    }
    main{
        margin-left: var(--sidebar-width)
    }
}