<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<h1 class="display-1 text-center">Projects</h1>
<h2 class="display-5 text-center">Welcome Wille</h1>
<h1>Create a new project</h1>
<a href = "/project/{{id}}/create">Create</a>

<h2>All of your projects: </h2>
<ul>
  {{#each project}}
    <li><a href = "/project/{{this.Id}}">{{this.Name}}</a></li>
  {{/each}}
</ul>
</body>
 