{{> errors}}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <h1 class="display-1 text-center">{{task.Title}}</h1>
  <h1 class="display-5 text-center">Tasks of project: </h1>
      <h4 class="display-8">Description of Task</h1>
      <p>{{task.Description}}</p>
  <h4 class="display-8">Date of task submitted: </h1>
      <p>{{task.CreationDate}}</p>
  </ul>

  <a href = " "
</body>
 